<footer>
    <div class="container">
        <div class="row p20">
            
                
            

                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">asdfasdfasf <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-5 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
           

             
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
                <div class="col-md-10 text-right mt25">Términos y condiciones <a target="_blank" href="{{site.terminos.link}}">{{site.terminos.name}}</a></div>
           

            <div class="col-md-4 text-center mt25" >
                
            <a target="_blank" href="http://www.bootstrat.site/"><img src="https://img.shields.io/badge/Built%20by-bootstrat-blue.svg" alt="{{site.built-by}}"></a>
                
            </div>
            <div class="col-md-4 text-center mt25"> <a target="_blank" href="{{site.facebook}}">
              <li class="social facebook"><em class="fa fa-facebook-square"></em></li>
            </a>  <a target="_blank" href="{{site.quora}}">
               <li class="social quora"><em class="fa fa-quora"></em></li>
               </a> 
               <a target="_blank" href="{{site.twitter}}">
               <li class="social twitter"><em class="fa fa-twitter-square"></em></li>
               </a> 
                <a target="_blank" href="mailto:{{site.email}}">
               <li class="social email"><em class="fa fa-envelope"></em></li>
            </a> </div>

        </div>
    </div>
</footer>
