<!--me falta terminar, no esta listo todavia-->
<form>
    <div class="col-lg-6">
  <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSdYzg_keyBchfcUqJNtp6xHlGOZWH-Yn3qvV9kpb2OFwSebVQ/formResponse">
          <div class="form-input mt-15">
              <label>Nombre y apellido</label>
              <div class="input-items default">
                  <input name="entry.1624585946" type="text" />
                  <i class="lni-user"></i>
              </div>
          </div> <!-- form input -->
          <div class="form-input mt-15">
              <label>Correo</label>
              <div class="input-items default">
                  <input name="entry.1466188528" type="email" required />
                  <i class="lni-envelope"></i>
              </div>
          </div> <!-- form input -->
          <div class="form-input mt-15">
              <label>Mensaje</label>
              <div class="input-items default">
                  <textarea placeholder="Mensaje" name="massage"></textarea>
                  <i class="lni-pencil-alt"></i>
              </div>
          </div> <!-- form input -->
          <p class="form-message"></p>
          <div class="form-input rounded-buttons mt-20">
              <button tysubmitbmit class="main-btn" rounded-three>Enviar</button>
          </div> <!-- form input -->
</form>